configuration {
  modi: "drun,run,window";
  show-icons: true;
  display-drun: "Apps";
  display-run: "Run";
  display-window: "Windows";
  drun-display-format: "{name}";
  font: "Noto Sans 11";
  icon-theme: "Papirus-Dark";
}

@theme "luciano-dark"
